name: Publish Maven Package

on:
  workflow_call:
    inputs:
      version:
        description: "Version to publish (leave empty to use pom.xml version)"
        required: false
        type: string
    secrets:
      OSSRH_USERNAME:
        required: true
      OSSRH_PASSWORD:
        required: true
      GPG_PRIVATE_KEY:
        required: true
      GPG_PASSPHRASE:
        required: true
  workflow_dispatch:
    inputs:
      version:
        description: "Version to publish (leave empty to use pom.xml version)"
        required: false
        type: string
  push:
    tags:
      - "v*"

jobs:
  publish-maven:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Determine version
        id: get-version
        run: |
          if [ -n "${{ inputs.version }}" ]; then
            echo "version=${{ inputs.version }}" >> $GITHUB_OUTPUT
          elif [[ "${{ github.ref }}" == refs/tags/* ]]; then
            echo "version=${GITHUB_REF#refs/tags/v}" >> $GITHUB_OUTPUT
          else
            echo "version=" >> $GITHUB_OUTPUT
          fi

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: "11"
          distribution: "temurin"
          cache: "maven"
          server-id: "central" # Match the server ID in your settings.xml
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD
          gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
          gpg-passphrase: MAVEN_GPG_PASSPHRASE
      - name: Update version if specified
        if: ${{ steps.get-version.outputs.version != '' }}
        run: |
          mvn versions:set -DnewVersion=${{ steps.get-version.outputs.version }} -DgenerateBackupPoms=false

      - name: Generate Kotlin client
        run: mvn clean generate-sources

      - name: Publish to Maven Central
        run: mvn -B deploy --no-transfer-progress -DskipTests -Dgpg.passphrase="${MAVEN_GPG_PASSPHRASE}"
        env:
          MAVEN_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}

      - name: Get project version
        id: project-version
        run: echo "version=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)" >> $GITHUB_OUTPUT

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: maven-artifacts
          path: |
            target/*.jar
            target/*.pom
          retention-days: 30
